.form-row{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.btn{
    display: flex;
    justify-content: center;
}

button{
    padding: 0.5rem;
    font-size: 1rem;
}

.form-container{
    margin-bottom: 2rem;
}

.categorie-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorie-item{
    margin: 1rem 0rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.categorie-list ul li{
    list-style: disc;
}

.error{
    text-align: center;
    color: darkred;
}