/*base*/

*{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body{
    min-height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background: url("../img/2249400.jpg") center center;
    background-size: cover;
    color:#84817a;
}

/*general*/

.mg-d1{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: #84817a;
}

a:hover{
    color: #aaa69d;
}

h1{
    text-align: center;
    border-bottom: 2px solid #1e1f23;
    padding-bottom: 0.6rem;
}

li{
   list-style: none;
}

.edit{
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #1e1f23;
    color: #84817a;
}

.edit:hover{
    border: 1px solid #aaa69d;
    color: #aaa69d;
}

.label{
    font-size: 1rem;
    font-weight: bold;
}

input, textarea, select{
    border-radius: 0.2rem;
    background: #e0e0e0;
}

.body-block{
    height: 100%;
    background: #020202;
    color: #84817a;
    border-radius: 0.3rem;
    padding: 2rem 3rem;
    box-shadow: 0 1px 5px #101010;
}

/*header*/


header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    margin: 0rem 2rem 4rem;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid #1e1f23;
    position: sticky;
}

.separator{
    margin: 0rem 1rem;
    border-right: 2px solid #1e1f23 ;
}

/*home*/



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

}

.container-title{
    margin-bottom: 2rem;
}

.product-list{
    display: flex;
}

.product-item{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 2rem 1rem;
    background: #04051a;
    width: 13rem;
    height: 15rem;
    border:1px solid #1e1f23;
    row-gap: 1rem;
}


