<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}tp_bonus{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
        <a href="{{ path('home') }}">ACCUEIL</a>
        <a href="{{ path('create') }}">CREER UN PRODUIT</a>
        <a href="{{ path('create_categorie') }}">CREER UNE CATEGORIE</a>
    </header>
    <div class="container">
        <div class="body-block">
        {% block body %}

        {% endblock %}
        </div>
    </div>
    </body>
</html>
